.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.details-box{
  width:330px;
  margin:auto;
  margin-top: 180px;

  top:50%;
  transform: translate(0 50%);
  padding:5px 5px;
  align-items: center;
  background-color: white;
  border-radius: 12px;
}
.register-text{
  display: block;
  padding:15px;
  text-align: center;
  color:rgb(0, 0, 0);
  font-weight: bold;
}
.register-description{
  padding:15px;
  text-align: center;
}
.username {
  margin-top:15px;
  padding:8px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  display:block;
  margin-bottom: 15px;
  border-radius: 5px;
  border-width:1px;
  position: relative;
}
.email{
  padding:8px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display:block;
  border-radius: 5px;
  border-width:1px;
}
.password {
  padding:8px;
  width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-radius: 5px;
  border-width:1px;
}
.confirm-password{
  padding:8px;
  width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  border-radius: 5px;
  border-width:1px;
  margin-bottom: 15px;
}
.college-name{
  padding:8px;
  width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  border-radius: 5px;
  border-width:1px;
}

.register-button {
  padding:8px;
  width: 295px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom:25px;
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(226, 226, 226);
  border:none;
  background-color: rgb(92, 92, 252);
  box-shadow: 2px 5px 12px rgb(0, 0, 0);
}
.login:hover {
  color: white;
  background-color: rgb(193, 193, 193);
}
.login-option {
  text-align: center;
  display: block;
}
.signup {
  text-align: center;
  display: inline-block;
}
.input-box{
  
}
.user-icon,
.email-icon,
.password-icon,
.confirm-password-icon,
.college-name-icon{
  z-index:1;
  height:14px;
  margin-top:8px;
  margin-left:22px;
  position: absolute;
  color:rgb(92, 92, 252);
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
   align-items:center;
   justify-content:center;

}

.form {
  width: 100px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
 
}

.container {
  height: 100;
  width: ;
  align-items: center;  
  justify-content: center;

}

.card {
  font-family: Arial, Helvetica, sans-serif;
  padding:1px;
  width: 295px;
  display: block;
  margin-top:15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.card h3 {
  font-size: 22px;
  font-weight: 600;
  
}

.drop_box {
  border
  margin: 0px 0;
  padding: 20px;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #a3a3a3;
}

.btn {
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.btn:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}
.form input {
  margin: 10px 0; 
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}
